#pairadice
    #overview.row
        .col-xs-3
            .round
                div(ng-show="state.rounds")
                    span: strong {{ state.rounds | ordinal }}
                    | &nbsp;round
                div(ng-hide="state.rounds") New Game
        .col-xs-2.col-xs-offset-1
            .pairs.pair1(ng-bind="state.pairTotals.p1")
        .col-xs-2
            .pairs.pair2(ng-bind="state.pairTotals.p2")
        .col-xs-3.col-xs-offset-1
            .points
                span: strong {{ state.score }}
                | &nbsp;points

    #death-board.row
        .panel.panel-default
            .panel-body(ng-repeat="dice in state.deathBoard")
                deathrow(dice="dice")

    #game-dice.row
        .col-xs-12
            ul.list-inline
                li.dice(ng-repeat="dice in state.gameDice", ng-click="pairDice(dice)" ng-class="{'pair1': dice.pair == 'p1' && state.gameStarted, 'pair2': dice.pair == 'p2' && state.gameStarted}")
                    span(ng-bind="dice.num")

    #score-board.row
        #play-panel
            .content
                button.btn.btn-primary.btn-lg(ng-hide="state.gameStarted", ng-click="startGame()") Start!
                button.btn.btn-primary.btn-lg(ng-show="state.gameFinished", ng-click="startGame()")
                    div New
                    div Game
                button.btn.btn-primary.btn-lg(ng-show="state.gameStarted && !state.gameFinished", ng-disabled="!state.roundFinished" ng-click="finalizeRound()")
                    div Finish
                    div Round

        div(ng-repeat="dice in state.scoreBoard")
            .col-xs-1.slot
                div(ng-bind="dice.num")
            ul.list-inline
                li(ng-repeat="notch in dice.notches track by ('' + dice.num + $index)")
                    .notch(ng-class="dice.num | notchSize:$index:notch")
