#login.row
    .panel.panel-default
        .panel-body
            .ladda-button(data-style="zoom-out", data-color="red", ng-click="authenticate('facebook')")
                span.ladda-label Sign in with Facebook
                span.ladda-spinner
        .panel-body
            .ladda-button(data-style="zoom-out", data-color="red", ng-click="authenticate('google')")
                span.ladda-label Sign in with Google
                span.ladda-spinner
        .panel-body
            .ladda-button(data-style="zoom-out", data-color="red", ng-click="authenticate('twitter')")
                span.ladda-label Sign in with Twitter
                span.ladda-spinner
